html, body, #root {
    height: 100%;
    
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: none;
    padding: 0;
    background-color: white;
}



/*-----------------------------------*/
/*---------------HOME----------------*/
/*-----------------------------------*/


.boton_inicio{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_gastos{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_categoria{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_analisis{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_est_mensual{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}