html, body, #root {
    height: 100%;
    
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: none;
    padding: 0;
    background-color: white;
}

/*--------------------------.--------*/
/*----------------LOGIN--------------*/
/*-----------------------------------*/
.contenedor_login {
  display: flex;
  height: 100vh;
}

.fondo_imagen {
  flex: 1;
  background-image: url("/src/assets/img/fondo_login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.texto_bienvenidos{
  font-size: 40px;
}

.img_login{
  width: 300px;
  margin-left: 30px;
}

.login {
  flex: 1; 
  background-color: #4CAF50;
  display: flex;            
  justify-content: center;   
  align-items: center;   
}

.text_email{
  display: block;
  margin-left: 30px;
  color: white;
}

.input_email{
  display: block  ;
  background-color:#24282C;
  opacity: 50%;
  color: white;
  margin-left: 30px;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}

.text_contraseña{
  display: block;
  margin-left: 30px;
  color: white;
}

.input_contraseña{
  display: block  ;
  background-color:#24282C;
  opacity: 50%;
  color: white;
  border-radius: 5px;
  margin-left: 30px;
  width: 300px;
  height: 30px;
}

.error {
  color: #d51313;
  font-size: 12px;
  margin-top: 5px;
}

.boton_ingresar{
  background-color: #D1B475;
  margin-top: 50px;
  margin-left: 35px;
  width: 300px;
  height: 40px;
}

.texto_olvidar_contraseña{
  margin-right: 50px;
}

/*-----------------------------------*/
/*---------------HOME----------------*/
/*-----------------------------------*/


.boton_inicio{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_gastos{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_categoria{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_analisis{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}

.boton_est_mensual{
  display: block;
  margin-top: 50px;
  background-color: #4CAF50;
}