.contenedor_graficos{
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
}

.box_grafico_lineal_home{
    background: #1ccfc9;
    padding: 40px;
    flex: 2;
    border-radius: 10px;
}


.box_grafico_torta_home{
    background: #102e02;
    padding: 40px;
    flex: 1;
    height: 250px;
    margin-right: 10px;
    border-radius: 10px;
}

.layout_home{
    display: flex;
    gap: 20px;
}

.col_izquierda{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col_derecha{
    flex: 1;
}

.contendor_ultimos_gastos{
    background: khaki;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
}

.contenedor_pago_tarjeta_home{
    background: gold;
    height: 215px;
    border-radius: 10px;
    margin-right: 10px;
}