.contenedor_graficos{
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
}

.box_grafico_lineal_home{
    background: #1ccfc9;
    padding: 40px;
    flex: 2;
    border-radius: 10px;
}


.box_grafico_torta_home{
    background: #102e02;
    padding: 40px;
    flex: 1;
    height: 250px;
    border-radius: 10px;
}

.layout_home{
    display: flex;
    gap: 20px;
}

.col_izquierda{
    flex: 2;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col_derecha{
    flex: 1;
    margin-right: 20px;
}

.contendor_ultimos_gastos{
    background: rgb(82, 52, 165);
    padding: 20px;
    border-radius: 10px;
    height: 420px;
}

.contenedor_pago_tarjeta_home{
    background: gold;
    height: 334px;
    border-radius: 10px;
}