/*--------------------------.--------*/
/*----------------Registro--------------*/
/*-----------------------------------*/
.contenedor_registro {
  display: flex;
  height: 100vh;
  width: 100%;
}

.fondo_imagen {
  flex: 1;
  background-image: url("/src/assets/img/fondo_login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img_logo_registro{
  display: block;
  width: 1000px;
  margin: 20px auto 0 auto;
  margin-left: -240px;
  margin-bottom: -70px;
}

.img_registro{
  display: flex;
  width: 200px;
  margin-left: 200px;
  margin-bottom: -150px;
}

.register {
  flex: 1; 
  background-color: #4CAF50;
  display: flex;            
  justify-content: center;   
  align-items: center; 
  padding: 40px 0; /* Agrega algo de espacio vertical */
  overflow-y: auto;  
}

.text_usuario{
  display: block;
  margin-left: 30px;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: -20px;
}

.text_email{
  display: block;
  margin-left: 30px;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: -20px;
}

.input_group {
  position: relative;
  margin-bottom: 25px;
  width: 500px;
}

.input_wrapper {
  position: relative;

  width: 500px;
}

.input_usuario {
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 500px;
  height: 60px;
  background: #24282C;
  backdrop-filter: blur(4px);
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  outline: none;
  opacity: 0.5;
  transition: box-shadow 0.2s;
  line-height: 100%;
  display: block;
  margin: 0;
  box-sizing: border-box;
  margin-left: -20px;
}

.input_email {
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 500px;
  height: 60px;
  background: #24282C;
  backdrop-filter: blur(4px);
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  outline: none;
  opacity: 0.5;
  transition: box-shadow 0.2s;
  line-height: 100%;
  display: block;
  margin: 0;
  box-sizing: border-box;
  margin-left: -20px;
 
}

.input_email:focus {
  box-shadow: 0 0 0 2px #D1B475;
  opacity: 0.7;
}

.input_icon_email,
.input_icon_password {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px; /* Tamaño del icono */
  cursor: pointer; /* Indica que el icono es clicable */
}

.text_contraseña{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;    
    font-weight: 700;
    display: block;
    margin-left: 30px;
    color: white;
    margin-left: -20px;
}

.input_contraseña{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 500px;
    height: 60px;
    background: #24282C;
    backdrop-filter: blur(4px);
    color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    outline: none;
    opacity: 0.5;
    transition: box-shadow 0.2s;
    line-height: 100%;
    display: block;
    margin: 0;
    box-sizing: border-box;
    margin-left: -20px;
}

.error {
    color: #d51313;
    font-size: 12px;
    margin-top: 5px;
}

.contenedor-botones {
   display: flex;
    flex-direction: column;
    align-items: center; /* Esto es suficiente para centrar */
    gap: 15px;
    width: 100%;        /* Asegúrate de que el contenedor ocupe el ancho disponible */
    margin-top: 20px;   /* Un poco de aire respecto al último input */
    font-family: 'Outfit', sans-serif;
    margin-left: -70px;
    
}

.boton_registrarse{
  background-color: #D1B475;
  color: #3E2723;
  border: none; /* Mejor sin borde negro para que se vea más moderno */
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton_registrarse:hover {
    background-color: #bc9e62; /* Oscurece un poco al pasar el mouse */
}